*,
*::before,
*::after {
    box-sizing: border-box;
}

#app {
    max-width: 80vw;
    margin: 100px auto 0;
    line-height: 1.4;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    text-align: center;
}